USE [DB_Olist_ECommerce]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/10/2026 00:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [nvarchar](50) NULL,
	[customer_id] [nvarchar](50) NULL,
	[order_status] [nvarchar](50) NULL,
	[order_purchase_timestamp] [datetime2](7) NULL,
	[order_approved_at] [datetime2](7) NULL,
	[order_delivered_carrier_date] [datetime2](7) NULL,
	[order_delivered_customer_date] [datetime2](7) NULL,
	[order_estimated_delivery_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/10/2026 00:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [nvarchar](50) NULL,
	[customer_unique_id] [nvarchar](50) NULL,
	[customer_zip_code_prefix] [nvarchar](50) NULL,
	[customer_city] [nvarchar](50) NULL,
	[customer_state] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 6/10/2026 00:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[order_id] [nvarchar](50) NULL,
	[order_item_id] [tinyint] NULL,
	[product_id] [nvarchar](50) NULL,
	[seller_id] [nvarchar](50) NULL,
	[shipping_limit_date] [datetime2](7) NULL,
	[price] [float] NULL,
	[freight_value] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/10/2026 00:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [nvarchar](50) NULL,
	[product_category_name] [nvarchar](max) NULL,
	[product_name_lenght] [int] NULL,
	[product_description_lenght] [int] NULL,
	[product_photos_qty] [int] NULL,
	[product_weight_g] [int] NULL,
	[product_length_cm] [int] NULL,
	[product_height_cm] [int] NULL,
	[product_width_cm] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Olist_Sales]    Script Date: 6/10/2026 00:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Olist_Sales] AS
SELECT 
    o.order_id,
    o.customer_id,
    c.customer_unique_id,
    c.customer_city,
    c.customer_state,
    o.order_status,
    o.order_purchase_timestamp,
    o.order_delivered_customer_date,
    o.order_estimated_delivery_date,
    oi.order_item_id,
    oi.product_id,
    oi.seller_id,
    oi.price,
    oi.freight_value,
    p.product_category_name
FROM Orders o WITH (NOLOCK)
INNER JOIN Customers c WITH (NOLOCK) ON o.customer_id = c.customer_id
INNER JOIN OrderItems oi WITH (NOLOCK) ON o.order_id = oi.order_id
LEFT JOIN Products p WITH (NOLOCK) ON oi.product_id = p.product_id;
GO
